.footer {
  background-color: #333; /* Gris oscuro */
  color: white; /* Texto blanco */
  padding: 20px 0; /* Espaciado superior e inferior */
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-content {
  max-width: 1200px; /* Ancho máximo para contenido */
  margin: 0 auto; /* Centra el contenido */
}

.footer p {
  margin: 5px 0; /* Espaciado entre párrafos */
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

/* Responsividad */
@media (max-width: 768px) {
  .footer p {
    font-size: 12px; /* Reducir el tamaño de la fuente en pantallas más pequeñas */
  }

  .footer {
    padding: 15px 0; /* Reducir espaciado en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px 0; /* Reducir más el espaciado */
  }
  .footer-content p {
    font-size: 10px; /* Más pequeño en dispositivos móviles */
  }
}
.link-transparente {
    text-decoration: none; /* Quita el subrayado */
    color: rgba(0, 0, 0, 0.1); /* Color casi transparente (ajustable) */
  }
  
  .link-transparente:hover {
    color: rgba(0, 0, 0, 0.3); /* Color más visible cuando pasa el mouse (ajustable) */
  }
  