/* Contenedor para las reglas */
.rules-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Llena toda la altura de la pantalla */
    background-color: #1a1a1a; /* Fondo oscuro */
    padding: 2rem;
}

/* Estilo sombrío para el título */
.mafia-title {
    font-family: 'Butcherman', cursive; /* Asegúrate de que la fuente esté disponible */
    font-size: 5rem;
    color: #ff0000;
    text-shadow: 0 0 10px #000, 0 0 20px #a50505b6, 0 0 30px #af0606b9, 0 0 40px #ff0000;
    margin-bottom: 2rem; /* Espaciado inferior */
}

/* Estilo para el texto de las reglas */
.rule-text, .call-to-action {
    color: #ff0000;
    font-size: 1.5rem;
    margin: 1rem 0;
    text-shadow: 0 0 5px #000, 0 0 10px #a50505b6;
}

/* Estilo para la lista de reglas */
.rule-list {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0;
}

.rule-list li {
    color: #ff0000;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    text-shadow: 0 0 5px #000, 0 0 10px #a50505b6;
}

.play-button {
    margin-top: 2rem; /* Espaciado superior */
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid #ff0000;
    color: #ff0000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    justify-content: center;
    align-items: center;
}

.play-button:hover {
    background-color: #b60606;
    color: black;
}